.interest {
    font-family: Merriweather Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.interest-font{
    font-family: var(--bs-body-font-family);
    text-align: center;
    color: rgba(1, 41, 112, 0.6);
}

.tag-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    padding: 8px 16px;
    border: 1px solid #77d688;
    background-color: #e6ffe9;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
    background-color: #77d688;
    color: white;
}

.selected-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.selected-tag {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selected-tag:hover {
    background-color: red;
}
.btn-xl{
    max-width: 200px;
    margin: 100px auto 0;
    display: block;
}

.error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}
.text-center_Interest{
    text-align:center!important;
    bottom: 0;
}